@model SibersTestProject.Model.Gallery.GalleryView
@{
    ViewBag.Title = "ViewGallery";
}

<h2>@Html.LabelFor(model => model.Name)</h2>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Photo
        </th>        
    </tr>
    @foreach (var item in Model.Photos)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="/Home/Image/Small/@item.EntityId" />
            </td>
        </tr>
    }
</table>

