@model SibersTestProject.Model.Gallery.GalleryView
@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>
<div class="container">


    <div class="row">
        @foreach (var item in Model.Photos)
        {
            <div class="col-xs-6 col-md-3">
                <a href="/Photo/Open/@item.EntityId" class="thumbnail">
                    <img src="/Home/Image/Medium/@item.EntityId" />
                </a>
            </div>
        }
    </div>
</div>