@model SibersTestProject.Common.Model.PhotoModel
@{
    ViewBag.Title = "Open";
}

<h2>@Model.Name</h2>
<div class="container">      
<img src="/Home/Image/Medium/@Model.EntityId" class="img-responsive" />
</div>
